# Group 02

# Folders
.vs/
obj/
bin/

# Allow Folders

!FuncQuizzes/
!FuncQuizzes/assets
!FuncQuizzes/components/
!FuncQuizzes/features/
!FuncQuizzes/pages/

#######################


!FuncQuizzes\App.xaml
!FuncQuizzes\App.xaml.cs 
!FuncQuizzes\AssemblyInfo.cs 
!FuncQuizzes\FuncQuizzes.csproj 
!FuncQuizzes\FuncQuizzes.csproj.user 
!FuncQuizzes\MainWindow.xaml 
!FuncQuizzes\MainWindow.xaml.cs

# Ignore File and Folders

*/
FuncQuizzes/*.*
